@media (max-width: 1024px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.125rem;
        line-height: 1.5625rem;
    }
    .pacifio-text{
        font-size: 2rem;
    }
    .heading-para{
        font-size: 1rem;
    }
    .wrapper{
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}

@media(max-width:1284px){
    /* Section-1 Cover carousel caption*/
       #home .carousel-caption{
           max-width: 30rem;
           margin: 1.00rem auto;
           top: 12rem;
           left: -19rem;
       }
       #home .carousel-caption .pacifio-text{
           max-width: 30rem;
           margin: 1.00rem auto;
           top: 12rem;
           left: -19rem;
       }
}

@media(max-width:1095px){
 /* Section-1 Cover carousel caption*/
    #home .carousel-caption{
        max-width: 30rem;
        margin: 1.00rem auto;
        top: 12rem;
        left: -19rem;
    }
    #home .carousel-caption .pacifio-text{
        max-width: 30rem;
        margin: 1.00rem auto;
        top: 12rem;
        left: -19rem;
    }
}
@media(max-width:1024px){
    /* Section-1 Cover carousel caption*/
       #home .carousel-caption{
           max-width: 30rem;
           margin: 1.00rem auto;
           top: 12rem;
           left: -19rem;
       }
       #home .carousel-caption span{
           max-width: 30rem;
           margin: 1.00rem auto;
           top: 12rem;
           left: -19rem;
           font-size: 3rem;
       }
   }

@media(max-width:890px){
    /* Section-1 Cover carousel caption*/
    #home .carousel-caption{
        max-width: 22rem;
        margin:  auto;
    }
    #home .carousel-caption h1{
        font-size: 1.5rem;   
    }
    #home .carousel-caption span{
        max-width: 30rem;
        margin: 1.00rem auto;
        top: 12rem;
        left: -19rem;
        font-size: 2.5rem;
    }
}
@media(max-width:756px){
     /* Section-1 Cover carousel caption*/
     #home .carousel-caption{
        max-width: 19rem;
        top: 10rem;
        left: -15rem;
    }
    #home .carousel-caption span{
        max-width: 30rem;
        margin: 1.00rem auto;
        top: 12rem;
        left: -19rem;
        font-size: 2.3rem;
    }
}
@media(max-width:632px){
     /* Section-1 Cover carousel caption*/
     #home .carousel-caption{
        max-width: 18rem;
        top: 7rem;
        left: -12rem;
        font-size: 15px;
     }
}
@media(max-width:610px){
    #home .carousel-caption span{
        max-width: 30rem;
        margin: 1.00rem auto;
        top: 12rem;
        left: -19rem;
        font-size: 2.2rem;
    }
}
@media(max-width:568px){
    /* Section-1 Cover carousel caption*/
    #home .carousel-caption{
       max-width: 17rem;
       top: 6rem;
       left: -10rem;
       font-size: 14px;
    }
}
@media(max-width:504px){
    /* Section-1 Cover carousel caption*/
    #home .carousel-caption{
       max-width: 16rem;
       top: 5rem;
       left: -9rem;
       font-size: 13px;
    }
}
@media(max-width:460px){
    /* Section-1 Cover carousel caption*/
    #home .carousel-caption{
       max-width: 15rem;
       top: 4rem;
       left: -8rem;
       font-size: 12px;
    } 
}
@media(max-width:424px){
    /* Section-1 Cover carousel caption*/
    #home .carousel-caption{
       max-width: 14rem;
       top: 3.6rem;
       left: -7rem;
       font-size: 11px;
    } 
    #home .carousel-caption span{
        max-width: 30rem;
        margin: 1.00rem auto;
        top: 12rem;
        left: -19rem;
        font-size: 1.8rem;
    }
}
@media(max-width:386px){
    /* Section-1 Cover carousel caption*/
    #home .carousel-caption{
       max-width: 13rem;
       top: 3rem;
       left: -7rem;
       font-size: 11px;
    } 
    #home .carousel-caption h1{
        font-size: 1.2rem;
    }
    #home .carousel-caption span{
        font-size: 1.6rem;
    }
}
@media(max-width:260px){
    #home .carousel-caption span{
        display: block;
        font-size: 0.7rem;
        margin-top: 2px;
    }
    #home .carousel-caption .heading-para{
        font-size: 8px;
        margin-left:43px;
        width: 70%;
        margin-top: 5px;
    }
}


 /* Navbar Brand */
@media(max-width:991px){
   
    .navigation-wrap{
        text-align: right;
        background-color: var(--black-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
    .navbar-toggler-icon{
        color: var(--white-color);
        line-height: 2;
    }
}
@media(max-width:338px){
    .navbar .navbar-brand p{
        font-size: 0.7rem;
    }
}
@media(max-width:260px){
    .navbar .navbar-brand p{
        font-size: 0.5rem;
    }
    #about .paragraph p{
        text-align: center;
        font-size: 12px;
        margin-right: 20px;
    }
}

/*Header span text */

@media(max-width:430px){
    .top-header{
        display: none;
    }
}



