@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Pacifico&family=Poppins:wght@200&display=swap');


*,
*:after,
*:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--secondary-color);
    font-family: sans-serif;
}
:root{
    --primary-color:#ff553e;
    --secondary-color:#333;
    --white-color: #ecf4fb;
    --black-color: #000;
    --antiquewhite:#faebd7;

}

/*Custom class*/

.wrapper{
    background-color:var(--secondary-color);
}
.wrapper1{
    background-color: var(--black-color);
}
.pacifico-text1{
    font-size: 1rem;
    font-weight: 300;
    font-family: 'pacifico', cursive;
    color: var(--antiquewhite);
    padding-top: 10px;
}
.main-btn{
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px; 
    background-color: transparent;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn:hover{
    background-color: var(--primary-color);
    border-color: var(--white-color);
    color: var(--white-color);
}

/*Nav and Back to home*/
.navigation-wrap{
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--black-color);
}


/*Image Gallery*/

.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

.img-height{
    height: 56vh;
    object-fit: cover;
}

.img-height1{
    height: 60vh;
    object-fit: cover;
}
.lightbox {
    border: 0;
    box-shadow: none;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.lightbox-zoom {
    background: #fff;
    bottom: 0;
    color: #2727a4;
    line-height: 1;
    padding: .306em .5em;
    position: absolute;
    right: 0
}

.lightbox-no-scroll {
    overflow-y: hidden;
}


/* Overlay */
.lightbox-overlay {
    background: rgba(17, 17, 17, .8);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 32;
    overflow: hidden;
}

.lightbox-overlay *,
.lightbox-overlay *::before,
.lightbox-overlay *::after {
    box-sizing: inherit;
}

.lightbox-overlay[aria-hidden="true"] {
    display: none;
}


/* Slider */
.lightbox-slider {
    -webkit-transition: left .3s ease, -webkit-transform .3s ease;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: left .3s ease, -webkit-transform .3s ease;
    transition: left .3s ease, transform .3s ease, -webkit-transform .3s ease;
    transition: left .3s ease, transform .3s ease;
    white-space: nowrap;
}


/* Content */
.lightbox-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.lightbox-content figure {
    position: relative;
}

.lightbox-content img {
    display: block;
    height: auto;
    max-height: 85vh;
    max-width: 85vw;
    width: auto;
}

.lightbox-content figcaption {
    background: rgba(17, 17, 17, .8);
    bottom: 0;
    color: #fff;
    display: block;
    left: 0;
    padding: .25em .5em;
    position: absolute;
    width: 100%;
}


.lightbox-overlay button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.6em;
    height: 1.6em;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 1.6em;
}

.lightbox-overlay button:focus {
    border: 1px solid #fff;
    outline: 0;
}

.lightbox-overlay button:disabled {
    cursor: default;
    opacity: .5;
}

.lightbox-overlay button[aria-label="Previous"],
.lightbox-overlay button[aria-label="Next"] {
    top: 50%;
    top: calc(50% - (1.6em / 2));
}

.lightbox-overlay button[aria-label="Previous"] {
    left: 2%;
}

.lightbox-overlay button[aria-label="Next"] {
    right: 2%;
}

.lightbox-overlay button[aria-label="Close"] {
    top: 1em;
    right: 2%;
}

.lightbox-counter {
    background: transparent;
    color: #fff;
    font-size: 1.15em;
    left: 2%;
    position: absolute;
    top: 1em;
}


.lightbox-loader {
    width: 5em;
    height: 5em;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.5em;
    margin-left: -2.5em;
}

.lightbox-loader::before {
    -webkit-animation: spin 1s infinite;
    animation: spin 1s infinite;
    border-radius: 100%;
    border: .5em solid #9f9f9f;
    border-top-color: #2727a4;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*Footer*/
.footer .footer-social a{
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 0 7px;
}
.footer .footer-social a:hover{
    color: var(--primary-color);
}

/*
****************
Media Query  
****************
*/
@media(max-width:486px){
    .navbar .nav-item .main-btn{
      margin-left: 15px;
      padding: 5px 13px;
      letter-spacing: 1px;
    }
  }
  @media(max-width:356px){
    .navbar .nav-item .main-btn{
      font-size: 11px;
    }
  }
  
  @media(max-width:360px){
    .navbar .pacifico-text1{
      font-size: 0.9rem;
    }
  }
  @media(max-width:322px){
    .navbar .pacifico-text1{
      font-size: 0.7rem;
    }
    .navbar .nav-item .main-btn{
      font-size: 9px;
    }
  }
  @media(max-width:276px){
    .navbar .pacifico-text1{
      font-size: 0.6rem;
    }
    .navbar .nav-item .main-btn{
      font-size: 7px;
    }
  }